/* En-dessous css d'initialisation. Ne pas modifier. */
html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

@font-face {
	  font-family: "Berlin sans FB";
	  src: url('../fonts/font.ttf');
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Au-dessus css d'initialisation. Ne pas modifier. */

/* Berlin sans FB est la police d'écriture de notre fichier. Pensez à la préciser. */
html{
  background: #000;
}

body {
    font-family: 'Berlin sans FB';
    overflow: hidden;/* Ce paramètre va sûrement être modifié ultérieurement. */
}

/* Css du texte en bas de page. */
footer {
    position: absolute;
    text-align: center;
    font-size: 13px;
    bottom: 10px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    color: white;
}

/*Css de la page de connexion */

#black[data-visibility='default']{
    position: absolute;
    background: #000;;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
}

#black[data-visibility='active']{
    position: absolute;
    background: #000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* Le css de #fond est géré en js. */
#fond_connect{
    position: absolute;
}

.img_fond_active{
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    /*-webkit-transition: filter 1s;
    transition: filter 1s;
    -webkit-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s;*/
}

.img_fond_passive{
    -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);
    /*-webkit-transition: filter 3s;
    transition: filter 3s;
    -webkit-transition: -webkit-filter 3s;
    transition: -webkit-filter 3s;*/
}

/* Css du cadre contenant l'espace de connexion. */
#cadre{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -250px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
}

/* Css de l'image du logo. */
#logo img{
    position: relative;
    width: 450px;
    height: 80px;
    margin-top: 65px;
    left: 25px;
}

/* Css du champ où l'on tappe son mot de passe. */
input{
    position: relative;
    width: 450px;
    height: 100px;
    margin-top: 20px;
    left: 15px;
    font-size: 50px;
    border: 10px black solid;
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Berlin sans FB';
    text-align: center;
    border-radius: 20px;
    color: white;
    letter-spacing: 4px;
    text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

/* Css du champ au survol. */
input:hover{
    outline: none;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s;
}

/* Permet d'enlever le cadre bleu par défaut qui apparaît quand la personne rentre son mot de passe. */
input:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.5s;
}

/* Css du message d'erreur si le compte est inexistant. */
#erreur{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 50%;
    margin-top: 105px;
    left: 50%;
    margin-left: -100px;
    font-size: 25px;
    font-family: 'Berlin sans FB';
    text-align: center;
    color: rgb(255, 50, 50);;
}

/* Css du menu. */

#profil{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0px;
  left: 0px;
}

#avatar[data-at2='default']{
  position: absolute;
  top: 20px;
  border: 5px black solid;
  width: 160px;
  height: 160px;
  transition: border 1s;
  -webkit-transition: border 1s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#avatar[data-at2='active']{
  border: 10px black solid;
  position: absolute;
  top: 20px;
  width: 160px;
  height: 160px;
  transition: border 1s;
  -webkit-transition: border 1s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#name{
  position: absolute;
  top: 20px;
  font-size: 40px;
  height: 60px;
  vertical-align: middle;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  color:white;
}

#pts{
  position: absolute;
  top: 59px;
  font-size: 30px;
  color: white;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#star{
  position: absolute;
  top: 63px;
  height: 27px;
}

#icon_1{
  position: absolute;
}

.icon_game{
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.icon_game[data-at='default']{
  border: 5px black solid;
  filter: grayscale(0.9);
  -webkit-filter: grayscale(0.9);
  transition: filter 1s;
  transition: -webkit-filter 1s;
  -webkit-transition: filter 1s;
  -webkit-transition: -webkit-filter 1s;
  transition: border 1s;
  -webkit-transition: border 1s;
}

.icon_game[data-at='active']{
  border: 10px black solid;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transition: filter 1s;
  transition: -webkit-filter 1s;
  -webkit-transition: filter 1s;
  -webkit-transition: -webkit-filter 1s;
  transition: border 1s;
  -webkit-transition: border 1s;
}

.icon_game img{
  position: absolute;
}

.icon_game p{
  position: absolute;
  top: 5px;
  left: 8px;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  color:white;
  font-size: 30px;
}
