/* En-dessous css d'initialisation. Ne pas modifier. */
html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

@font-face {
	font-family: "Berlin sans FB";
	src: url('../fonts/font.ttf');
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Au-dessus css d'initialisation. Ne pas modifier. */

/* Berlin sans FB est la police d'écriture de notre fichier. Pensez à la préciser. */
body {
    font-family: 'Berlin sans FB';
    overflow: hidden;/* Ce paramètre va sûrement être modifié ultérieurement. */
}

/* Le css de #fond est géré en js. */
#fond{
    position: absolute;
}

/* Css du champ où l'on tappe son mot de passe. */
input{
    position: absolute;
    width: 500px;
    height: 96px;
    top: 50%;
    margin-top: 20px;
    left: 50%;
    margin-left: -250px;
    border: none;
    background: none;
    font-size: 50px;
    font-family: 'Berlin sans FB';
    text-align: center;
}

/* Permet d'enlever le cadre bleu par défaut qui apparaît quand la personne rentre son mot de passe. */
input:focus{
    outline: none;
}

/* Css du bouton pour valider son mot de passe. */
button{
    position: absolute;
    width: 100px;
    height: 30px;
    top: 50%;
    margin-top: 130px;
    left: 50%;
    margin-left: -50px;
    font-size: 20px;
    font-family: 'Berlin sans FB';
    text-align: center;
}

/* Css du message d'erreur si le compte est inexistant. */
#erreur{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 50%;
    margin-top: 180px;
    left: 50%;
    margin-left: -100px;
    font-size: 25px;
    font-family: 'Berlin sans FB';
    text-align: center;
    color: maroon;
}

/* Css du texte en bas de page. */
footer {
    position: absolute;
    text-align: center;
    font-size: 13px;
    bottom: 10px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}
